@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF; 
}
.card{
    width: 22rem;
    border-radius: 1.3em;
}
.card img{
    border-radius: .7em;
}
h5{
    font-size: 1.5rem;
    font-weight: 700;
}
p{
    font-size: 1.2rem;
    font-weight: 400;
}   
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (max-width: 375px) {
    .card{
        width: 18rem;
    }
    .attribution {
        font-size: 9px;
      }
  }
    
